////////////////////////////////
//DASHBOARD
.dashboard {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;

  &--sidebar {
    width: 15%;
    opacity: 1;
    height: 100%;
    transition: opacity 0.3s fadeInRight;
    box-shadow: 0 .3rem .3rem rgba(#000, 0.4);
  }

  &--content {
    width: 85%;
    height: 95%;
    &-nav {
      height: 8%;
      background-color: #fff;
    }
    &-main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      &-chart {
        width: 80%;
        background-color: rgba($color-navyblue, 0.1);
      }
      &-info {
        width: 20%;
        background-color: rgba($color-light-grey-1, 0.4);
        box-shadow: 0 .3rem .3rem rgba(#000, 0.3);
      }
    }
  }
}

////////////////////////////////
//SIDEBAR
.sidebar {
  background-color: rgba($color-light-grey-1, 0.4);
  height: 95%;
  opacity: 1;


  &--head {
    margin: 1.5rem .5rem;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid $color-dark-primary;
  }
  &--content {
    margin-top: 8rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &--items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--items-item {
    width: 90%;
    height: 4rem;
    padding: 1rem;
    font-size: 1rem;
    transition: all 0.2s linear;
    cursor: pointer;
    border-top-right-radius: .5rem;
    margin-bottom: .2rem;
    border-bottom-right-radius: .5rem;

    &:hover {
      background-color: $color-navyblue;
      color: $color-light-grey-1;
    }

    &-active{
      color: $color-light-grey-1;
      background-color: $color-navyblue;
    }
  }

  &--footer{
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 1;
  }
}

////////////////////////////////
//NAVBAR

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 6rem;
  align-items: center;

  &--settings{
    font-size: 2rem;
    margin: 0 2rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
      color: $color-navyblue;
    }
  }

  &--notify{
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;


    &:hover{
      color: $color-navyblue;
    }
  }

  &-btn{
    cursor: pointer;
    margin-top: .4rem;
    width: 12rem;
    height: 3rem;
    text-align: center;
  }
}

.btn:link, .btn:visited{
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: $color-navyblue;
  border-radius: .5rem;
  color: #fff;
  padding: .5rem;
  font-size: 1.4rem;
  transition: all .2s ease-in;

  &:hover{
    background-color: #fff;
    color: $color-navyblue;
  }
}



////////////////////////////////
//CARD

.ad{
  width: 70%;
  height: 20rem;
  box-shadow: 0 .3rem .3rem rgba(#000, 0.4);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba($color-navyblue, 0.1);

  &--img{
    position: relative;
    width: 100%;
    height: 50%;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &--text{
    font-size: 1.2rem;
  }

  &--btn{
    margin-bottom: 1rem;
    width: 100%;
    a{
      width: 100% !important;
      font-size: 1rem !important;
    }
  }
}

////////////////////////////////
//ADS SECTION
.ads{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(#000, 0.3);
  border-radius: .5rem;
}

////////////////////////////////
//CHART SECTION

.section{
  width: 100%;
  height: 100%;
  padding: 1rem;
  &--chart{
    width: 100%;
    height: 44%;
    // background-color: aqua;
  }
  &--features{
    width: 100%;
    height: 50%;
  }
}

.features{
  // margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-gap: 1rem;
  &--3{
    grid-column: 3 / -1;
    grid-row: 1 / span 2;
    background-color: #fff;
  }
}

.feature{
  background-color: #fff;
  border-radius: .5rem;
  padding: .7rem;
  display: flex;
  flex-direction: column;
  &--head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba($color-navyblue, 0.1);

    &--icon{
      font-size: 2rem;
      cursor: pointer;
    }
  }

  &--content{
    display: flex;
    justify-content: space-between;

    &--input{
      margin-top: 1rem;
      &-text{
        font-size: 1rem;
      }
      &-amt{
        font-size: 1.3rem;
        color: $color-navyblue;
        background-color: rgba($color-navyblue, 0.1);
        padding: .5rem;
        border-radius: .5rem;
        margin: .8rem;
      }
      &-time{
        span{
          color: rgba(#000, 0.5);
        }
      }
    }

    &--icon{
      font-size: 5rem;
      align-self: center;
    }
  }
}

.chart{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
