$color-dark-primary: rgba(#000000, 0.95);
$color-dark-secondary: #414141;
$color-light-primary: rgba(#e6ebf2, 0.3);

$color-navyblue: #000080;
$color-skyblue: #31aaf5;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-light-grey-3: #abb0b8;

// BREAKPOINTS //
$bp-largest: 93.75em; //1500px
$bp-larger: 81.25em; //1300px
$bp-large: 62.5em; //1000px
$bp-med: 56.35em; //900px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smaller: 37.5em; //600px
$bp-smallest: 25em; //400px
