.btn:link,
.btn:visited {
  text-decoration: none;
  width: 15rem;
  height: 100%;
  background-color: $color-navyblue;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #fff;
    color: $color-navyblue;
  }
}
