.nav{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 6rem;
  align-items: center;
  @media only screen and (max-width: $bp-med) {
      padding-right: 4rem;
  }
  @media only screen and (max-width: $bp-small) {
      padding-right: 2rem;
  }
  @media only screen and (max-width: $bp-small) {
      padding-right: 0;
  }

  &--settings{
    font-size: 2rem;
    margin: 0 2rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
      color: $color-navyblue;
    }
  }

  &--notify{
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;


    &:hover{
      color: $color-navyblue;
    }
  }

  &-btn{
    cursor: pointer;
    margin-top: .4rem;
    width: 12rem;
    height: 3rem;
    text-align: center;
  }
}