.sidebar {
  background-color: rgba($color-light-grey-1, 0.4);
  height: 95%;
  opacity: 1;
  @media only screen and (max-width: $bp-med) {
    height: 100%;
    display: flex;
  }
  @media only screen and (max-width: $bp-small) {
    height: 80%;
    background-color: transparent;
  }

  &--head {
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    @media only screen and (max-width: $bp-med) {
      margin: 0.5rem 1rem;
      margin-right: 3rem;
      border: none;
    }
  }
  &--content {
    margin-top: 3rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-med) {
      flex-direction: row;
      margin-top: 0.5rem;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-med) {
      flex-direction: row;
      justify-content: center;
    }
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &--items-item {
    width: 90%;
    height: 4rem;
    padding: 1rem;
    font-size: 1rem;
    transition: all 0.2s linear;
    cursor: pointer;
    border-top-right-radius: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom-right-radius: 0.5rem;

    @media only screen and (max-width: $bp-med) {
      text-align: center;
      width: 100%;
      margin: 0.2rem 1rem;
    }

    &:hover {
      background-color: $color-navyblue;
      color: $color-light-grey-1;
    }

    &-active {
      color: $color-light-grey-1;
      background-color: $color-navyblue;
    }
  }

  &--footer {
    font-size: 1.6rem;
    @media only screen and (max-width: $bp-med) {
      font-size: 1rem;
      margin-bottom: 0;
      width: 10rem;
      margin-left: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}
